#home, #about, #skills {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
body {
    background-color: #121212;
    font-family: 'montserrat', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

}

html {
    scroll-behavior: smooth; /* Smooth scrolling */
}

/* Navigation Bar */
nav {
    margin-top: 20px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px;
    z-index: 1000;
    width: 100%;

}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 8px;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    color: transparent;
    background: linear-gradient(45deg, #5a189a, #bf00ff);
    -webkit-background-clip: text;
    background-clip: text;
    transform: scale(1.1);
}

.RMS {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: #bf00ff;
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    clip-path: polygon(10% 20%, 30% 10%, 60% 5%, 80% 15%, 95% 40%, 80% 70%, 60% 85%, 30% 80%, 10% 60%);
}




#home {
    display: flex;
    margin-left: 350px;
    align-items: center;
    justify-content: left;
    padding: 50px;
}

#home .who {
    font-size: 5.1rem;
}

#home h1 {
    color: #c9a6ff;
    margin: 10px 0;
}

#home h2 {
    font-size: 2.5rem;
    color: #ffffff;
    margin: 10px 0;
}
#home span {
    color: #8b28e8;
}

#home h4 {
    font-size: 1.5rem;
    color: #bbbbbb;
    margin: 5px 0;
}

#home a {
    display: inline-block;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(45deg, #5a189a, #bf00ff);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hire  {
    margin-top: -30px;
}

#home a:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    #home {
        flex-direction: column;
        text-align: center;
    }

    #home .who {
        margin-left: 0;
    }
}

/* Profile Image */
.picture {
    width: 400px;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    margin-right: 40px;
}
#about {
    background-color: #1c1c1c;
}

#about span {
    color: #8b28e8;
}
.aboutme {
    margin-left: 50px;
    font-size: 2rem;
}
.aboutme h1 {
    font-size: 4rem;
    margin: 0;
}

.aboutme h4 {
    margin-top: 15px;
    margin-bottom: 50px;
}
.social-icons img {
    max-width: 55px;
    max-height: 55px;
    transition: transform 0.3s ease;
    margin-right: 10px;
}

.aboutme ul {
    font-size: 1.2rem;
}
.aboutme li {
    margin-bottom: 15px;
}

.certificate {
    text-decoration: none;
    color: #fff;
    transition: transform 1s ease;
    display: inline-block;
}

.certificate:hover {
    color: transparent;
    background: linear-gradient(45deg, #5a189a, #bf00ff);
    -webkit-background-clip: text;
    background-clip: text; /
    transform: scale(1);
}

.social-icons img:hover {
    transform: scale(1.1);
}

.icons {
    margin-left: 15px;
}

#projects {
    padding: 20px;
    height: auto;
}

#projects h1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

#projects h1::before {
    content: '';
    position: absolute;
    margin-top: -30px;
    border-bottom: 18px solid #5a189a;
    width: 17rem;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    z-index: -1;
    clip-path: inset(0 0 0 20%);
}

.project-item {
    padding: 2rem;
    display: flex;
    margin-left: 2rem;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}

.project-image {
    z-index: 1;
}
.project-image a {
    display: block;
}

.project-image img {
    transition: transform 0.3s ease;
    margin-left: 8rem;
    margin-right: 30px;
    max-width: 850px;
    max-height: 505px;
    align-self: flex-start;
    position: relative;
    border-top: 4rem solid #5a189a;
    border-right: 9rem solid #5a189a;
    border-bottom: 4rem solid #5a189a;
}

.project-image a:hover img {
    transform: scale(0.9);
}

.project-links {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 22px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.project-links a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 5px 0;
    display: inline-flex; /* Adapta ao tamanho do texto */
    overflow: hidden;
    align-items: center;
}

.project-links {
    font-weight: bold;
    gap: 1.2rem;
    position: relative;
    text-decoration: none;
    color: white;
    padding: 5px 0;
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    transition: color 0.6s ease; /* Transição do color */
}

.project-links::after {
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: yellow;
    transition: height 0.6s ease, bottom 0.6s ease;
}

.project-links:hover::after {
    height: 100%;
    bottom: 0;
}

.project-links:hover {
    color: black;
    background: yellow;
}









.project-details {
    padding-left: 1.5rem;
    position: absolute;
    top: 1.5rem;
    right: 7rem;
    height: fit-content;
    max-width: 630px;
    z-index: 2;
}

.project-details h2 {
    font-weight: bold;
    font-size: 2rem;
}

.project-details p {
    font-size: 1.2rem;
}

.button-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding-bottom: 2px;
    color: #3498db;
    font-weight: bold;
}

.button-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #3498db;
    transition: all 0.3s ease;
}

.button-link:hover::after {
    height: 100%;
}

.button-link:hover {
    color: #2980b9;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 20px;
    background-color: #1c1c1c;
    color: #ffffff;
    height: auto;
}

#skills h1 {
    margin-bottom: 30px;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}


#skills .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
}

.box {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282828;
    color: #c9a6ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.box:hover {
    transform: scale(1.05);
}

.box img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.box h1 {
    font-size: 1.5rem;
    margin: 0;
}
